@model IEnumerable<MVCWebApiClient.Country>

@{
    ViewBag.Title = "UseHttpClient2";
}

<h2>UseHttpClient2</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISO2Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapitalCity)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISO2Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapitalCity)
        </td>
    </tr>
}

</table>
